.app {
  text-align: center;
}


ul {
  list-style: none;
}

.header {
  margin: auto;
  padding: 15px;
}

.list-item {
  margin: auto;
  display: grid;
  
}

.input-area {
  margin: auto;
  display: grid;
  justify-items: center;
  padding: 5px;
  max-width: 70%;
  
}

.edit-area {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list-area {
  margin: auto;
  max-width: 100%;
}
